[Unit]
Description=Debug Symbols File System
Documentation=https://github.com/edolstra/dwarffs

[Mount]
What=none
Where=/run/dwarffs
# Would like to use fuse.dwarffs, but that doesn't work on NixOS at
# the moment: https://github.com/NixOS/nixpkgs/issues/21748.
Type=fuse.dwarffs
Options=ro,allow_other
